.side-bar-layout {
    width: 240px;
    background: #121621;
    color: #fff;
    padding: 20px;
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.side-bar-layout h2 {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #635bff;
    font-size: 22px;
}

.side-bar-layout ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-bar-layout li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    transition: background 0.3s ease;
    border-radius: 5px;
}

.side-bar-layout li:hover {
    background: #635bff;
}

.side-bar-layout a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

.side-bar-layout svg {
    padding-left: 25px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.log-out-button {
    margin-top: auto;
}

.log-out-button li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de3024;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.log-out-button li:hover {
    background-color: #de3024da;
}

.side-bar-layout .selected {
    background-color: #4a49e0;
    font-weight: bold;
}